<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apropos</title>
</head>
<body>
    <div style="width: 50; margin: auto;">
        <%- include('./composants/header')%>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium! Sapiente facilis iusto laborum illum perferendis earum repellat totam aspernatur quos voluptate dolore consequatur dolores ad eaque qui voluptas, quis, nobis eius magnam. Nisi dolor, deserunt porro fugiat corporis explicabo provident soluta tenetur enim quibusdam tempora repudiandae voluptatibus ut delectus? Recusandae numquam commodi accusamus est fuga harum facilis, quis nemo quo dignissimos, rem cupiditate, optio veniam in sapiente autem dolorum voluptate magnam explicabo quae? Earum blanditiis quos laborum ad repellendus velit, sed exercitationem amet recusandae aut. Praesentium, quo magnam id illo perferendis temporibus, nobis illum iure omnis suscipit, obcaecati facere.</p>
        </section>
       
       
    </div>
</body>
</html>